# Development environment overrides
global:
  environment: development
  namespace: fastfood-dev

# Reduce replicas for dev - ALL services to 1
authService:
  replicaCount: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      memory: "64Mi"
      cpu: "50m"
    limits:
      memory: "128Mi"
      cpu: "200m"

orderService:
  replicaCount: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      memory: "64Mi"
      cpu: "50m"
    limits:
      memory: "128Mi"
      cpu: "200m"

restaurantService:
  replicaCount: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      memory: "64Mi"
      cpu: "50m"
    limits:
      memory: "128Mi"
      cpu: "200m"

paymentService:
  replicaCount: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      memory: "64Mi"
      cpu: "50m"
    limits:
      memory: "128Mi"
      cpu: "200m"

notificationService:
  replicaCount: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      memory: "64Mi"
      cpu: "50m"
    limits:
      memory: "128Mi"
      cpu: "200m"

adminService:
  replicaCount: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      memory: "64Mi"
      cpu: "50m"
    limits:
      memory: "128Mi"
      cpu: "200m"

# Ingress for dev
ingress:
  hosts:
    - host: api.fastfood-dev.local
      paths:
        - path: /auth
          pathType: Prefix
          service: auth-service
          port: 5001
        - path: /users
          pathType: Prefix
          service: auth-service
          port: 5001
        - path: /orders
          pathType: Prefix
          service: order-service
          port: 5002
        - path: /restaurants
          pathType: Prefix
          service: restaurant-service
          port: 5003
        - path: /payments
          pathType: Prefix
          service: payment-service
          port: 5005
        - path: /notifications
          pathType: Prefix
          service: notification-service
          port: 5006

# Smaller MongoDB for dev
mongodb:
  persistence:
    size: 5Gi
  resources:
    requests:
      memory: "128Mi"
      cpu: "50m"
    limits:
      memory: "256Mi"
      cpu: "200m"

# Smaller Redis for dev
redis:
  master:
    persistence:
      size: 2Gi
    resources:
      requests:
        memory: "64Mi"
        cpu: "50m"
      limits:
        memory: "128Mi"
        cpu: "100m"

# Disable PDB in dev
podDisruptionBudget:
  enabled: false
